sdp try 1.1 (1).json
{
  "name": "sdp try 1.1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        480
      ],
      "id": "1064cdfb-2fc2-4363-aeac-08bfebd335d9",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://threat-iq-2.vercel.app/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"pulse_count\": 0,\n  \"malware_count\": 0,\n  \"confidence_score\": 0,\n  \"is_tor\": 0,\n  \"country_risk\": 0.2,\n  \"asn_reputation\": 0\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        464
      ],
      "id": "30a00e9a-1499-454b-b127-15317a0e80e0",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        496
      ],
      "id": "db025583-c08f-41dd-92b0-0c150b88be52",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        496
      ],
      "id": "e6843846-c64e-43fe-b60a-65729447752d",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://threat-iq.vercel.app/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $json.key }}",
              "value": "={{ $json.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        448
      ],
      "id": "4444828d-b57a-4719-afe6-e1b4aa2d4549",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://otx.alienvault.com/api/v1/indicators/IPv4/{{ $json.body.ip }}/general",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-OTX-API-KEY",
              "value": "7325c94cc4a5a3838cc61e94c810d1fcec072b843d8f89a49a68d9d9e60c981b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1808,
        -240
      ],
      "id": "df45a53e-8362-4834-a0c2-9eaf241d96d6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Indicator JSON:\n\n{{ JSON.stringify($json) }}\n\nConversion Rules:\n\n1. pulse_count = pulse_info.count\n\n2. malware_count = count unique malware families across:\n   pulse_info.related.alienvault.malware_families\n   pulse_info.related.other.malware_families\n\n3. confidence_score =\n   pulse_count * 20 + malware_count * 30\n   Cap at 100.\n   If false_positive exists or validation contains \"whitelist\" or \"false positive\",\n   set confidence_score = 0.\n\n4. is_tor =\n   1 if validation contains any TOR-related flag,\n   otherwise 0.\n\n5. country_risk =\n   default 0.5\n   0.2 if whitelisted or false positive\n   0.8 if country_code in [RU, IR, KP, CN]\n\n6. asn_reputation =\n   use top-level reputation field\n   if missing, default 0.5\n\nReturn only the final feature dictionary as JSON.\nDo not include markdown formatting.",
        "messages": {
          "messageValues": [
            {
              "message": "=Role / System Prompt  You are a security data transformation engine. Your job is to convert raw threat-intelligence indicator JSON into a normalized, ML-ready feature dictionary compatible with the following schema:  {   \"pulse_count\": number,   \"malware_count\": number,   \"confidence_score\": number (0–100),   \"is_tor\": 0 or 1,   \"country_risk\": number (0–1),   \"asn_reputation\": number (0–1) }   Do not add explanations, comments, or extra fields. Output only valid JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1568,
        -288
      ],
      "id": "7f9bc20c-938b-448e-b53e-5930c4920828",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1408,
        0
      ],
      "id": "7c49f0b5-93af-4640-bacd-b3f5c95c9078",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Z6Yp7Li6QYcPz6zU",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = items[0].json.text;\n\nconst cleaned = rawText\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\n// Return ONE item\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -272
      ],
      "id": "d5c26543-3094-4a31-8045-4be768968ae5",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://threat-iq-2.vercel.app/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pulse_count",
              "value": "={{ $json.pulse_count }}"
            },
            {
              "name": "malware_count",
              "value": "={{ $json.malware_count }}"
            },
            {
              "name": "confidence_score",
              "value": "={{ $json.confidence_score }}"
            },
            {
              "name": "is_tor",
              "value": "={{ $json.is_tor }}"
            },
            {
              "name": "country_risk",
              "value": "={{ $json.country_risk }}"
            },
            {
              "name": "asn_reputation",
              "value": "={{ $json.asn_reputation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -256
      ],
      "id": "c8323416-4c11-4f35-925f-7ab456d4409e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the system behavior using the following ML outputs:\n\nrisk_score: {{ $json.risk_score }}\n\nconfidence: {{ $json.confidence }}\n\nProvide a comprehensive behavioral assessment following your instructions.\nWhen appropriate, include a short summary suitable for non-technical stakeholders.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a security analysis assistant.\nYour task is to analyze system or entity behavior using two inputs only:\n\nrisk_score (float between 0 and 1):\n\nRepresents how strongly the ML model believes the behavior is malicious.\n\nIt reflects maliciousness likelihood, not certainty.\n\nconfidence (low / medium / high):\n\nRepresents how decisively the model made its classification.\n\nIt reflects certainty of judgment, not severity.\n\nInterpretation Rules\n\nA high risk_score with low confidence means the behavior appears malicious but the model is uncertain.\n\nA low risk_score with high confidence means the behavior is confidently benign.\n\nConfidence must never be interpreted as risk severity.\n\nAvoid binary labels unless strongly justified.\n\nOutput Requirements\n\nYour analysis must:\n\nClearly explain what the risk_score implies\n\nClearly explain what the confidence implies\n\nDescribe how reliable the assessment is\n\nHighlight ambiguity or uncertainty when present\n\nSuggest recommended actions (e.g., monitor, investigate, block, allow)\n\nUse neutral, professional, security-focused language\n\nAvoid speculation beyond the provided inputs\n\nStructure your response with clear sections:\n\nRisk Interpretation\n\nConfidence Interpretation\n\nOverall Behavioral Assessment\n\nReliability of the Assessment\n\nRecommended Actions\n\nDo not mention internal ML mechanics unless necessary.\nDo not assume intent; analyze likelihood and certainty only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -704,
        -272
      ],
      "id": "a8d9d4d2-37ef-41c4-91f3-d5c1cfa53a4f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        -16
      ],
      "id": "fe12aebc-ea04-46e7-838e-fdbf1206901a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Z6Yp7Li6QYcPz6zU",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a1a5bc5c-958c-4394-843b-5b9de146d34c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2032,
        -224
      ],
      "id": "a9e7c991-e709-4f0e-b327-1191f8738708",
      "name": "Webhook",
      "webhookId": "a1a5bc5c-958c-4394-843b-5b9de146d34c"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -304,
        -272
      ],
      "id": "98fdbc56-cd7a-467c-8b36-d6fa71c702a4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed5456bd-8057-4075-a7cf-4e0951d22d06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a0f567413196cdb52a5a00b33caf72cc9a8dac87308159fedba289f58c29c62"
  },
  "id": "zIRGVeKxEDNxgKy6",
  "tags": []
}